<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.scoregoals.menubar</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__SCOREGOALS_BINDIR__:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.scoregoals.weekly</string>
	<key>ProgramArguments</key>
	<array>
		<string>__SCOREGOALS_BIN__</string>
		<string>weekly</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/scoregoals/weekly.err.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/scoregoals/weekly.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>__SCOREGOALS_REPO__</string>
</dict>
</plist>
